#Introduction
This is a record of in-game test results for StationCargoController code. The format is:
Test Short Name
Date tested
Game version
What was tested
Pass/fail results
Screenshots (if desired)
Follow-up issues
#Test Results
Test Short Name: Check compile of version 1 Program.cs
Date tested: 7/16/2026
Game version: 1.209.024
What was tested: does the code compile.
Pass/fail results: fail. Version 1 code was generated for: MDK-SE projects, Visual Studio projects, Standalone .cs
Screenshots (if desired): none
Follow-up issues:none

